################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Blackjack2022/.vs/Blackjack2022/FileContentIndex
/Blackjack2022/obj/Release/net6.0
/Blackjack2022/obj/Debug/net6.0
/Blackjack2022/.vs/Blackjack2022/DesignTimeBuild
/Blackjack2022/bin/*
